
# Credenciais

*.pem
# Diretório usado pelo Terraform para cache de plugins e providers
.terraform/

# Arquivos de estado do Terraform (contêm informações sensíveis)
*.tfstate
*.tfstate.*

# Arquivo de variáveis sensíveis
*.tfvars

# Logs e arquivos temporários
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Arquivos de lock do Terraform
.terraform.lock.hcl